@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-1000 text-gray-400;
}

*,
*:before,
*:after {
  @apply box-border;
}

body {
  @apply leading-relaxed text-lg font-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-white tracking-wide;
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-6xl;
}

h3 {
  @apply text-3xl;
}

@layer components {
  .arrow-link svg {
    transition: transform 0.15s;
  }

  .arrow-link:hover svg {
    transform: translateX(6px);
  }

  .button-hover {
    box-shadow: 0 0 0;
  }

  .button-hover:hover {
    box-shadow: 2px 2px 0;
  }

  .text-block p {
    @apply mt-4;
  }
}
